@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: 'Rubik', sans-serif;
	background: #000;
	color: #fff;
	line-height: 1.7;
	overflow-x: hidden;
}
